.git
.gitignore
.dockerignore

bin/
data/
master
.playwright-cli/

*.db
*.db-shm
*.db-wal
*.log
*.tmp
**/*.db
**/*.db-shm
**/*.db-wal
**/*.log
**/*.tmp

web/node_modules/
web/tsconfig.tsbuildinfo
internal/master/api/frontend_dist/*
!internal/master/api/frontend_dist/index.html
